# Dependencies
node_modules/
.npm
package-lock.json

# Build and IDE
dist/
.vscode/
.idea/
*.log
.env
.env.local
.env.*.local

# Capacitor artifacts (Build outputs only, not the project)
ios/App/build/
ios/App/DerivedData/
ios/App/Pods/
ios/App/App/public/
ios/App/App/capacitor.config.json

# MacOS
.DS_Store
__MACOSX/
